* {
    margin: 0px;
    padding: 0px;
    box-sizing: border-box;
    font-family: 'Dancing Script', cursive;
}

header {
    width: 100%;
    height: 180px;
    background: rgb(113,190,175);
    background: linear-gradient(90deg, rgba(113,190,175,1) 15%, rgba(54,164,235,1) 40%, rgba(226,75,182,1) 60%, rgba(227,166,209,1) 85%);
    background-size: cover;
    background-attachment: fixed;
}

#encabezado h1 {
    color: #fff;
    font-size: 50px;
    text-align: center;
    margin-bottom: 60px;
}

#navegacion {
    text-align: right;
    padding: 30px 0;
    width: 95%;
}

#navegacion a {
    color: #fff;
    text-decoration: none;
    font-weight: bold;
    padding: 15px;
    text-align: right;
}

#navegacion a:hover {
    text-decoration: underline;
}

#Autoestima {
    background-color: #B5EDF0;
    width: 100%;
    height: 400px;
}

#Autoestima img {
    display: flex;
    float: left;
    height: 300px;
    width: 350px;
    padding: 30px;
    margin-top: 50px;
    margin-right: 20px;
    margin-left: 20px;
    border-radius: 20%;
}

#Autoestima p {
    font-size: 22px;
    text-align: justify;
    margin-right: 35px;
}


#Autoestima h2 {
    font-size: 35px;
    padding: 40px;
    padding-left: 70px;
}

#Tipos {
    background-color: #F3DDF5;
    width: 100%;
    height: 1120px;
}

#Tipos img {
    display: flex;
    float: right;
    height: 300px;
    width: 350px;
    padding: 30px;
    margin-top: 50px;
    margin-right: 20px;
    margin-left: 20px;
    border-radius: 20%;
}

#Tipos h2 {
    font-size: 35px;
    padding: 40px;
    text-align: center;
}

#Tipos h3 span {
    background-color: #EF78CC;
    color: #fff;
    border-radius: 50%;
    display: inline-block;
    text-align: center;
    margin-right: 15px;
    margin-left: 50px;
    margin-top: 5px;
    margin-bottom: 15px;
    width: 30px;
    padding: 2px;
}

#Tipos h3 {
    font-size: 25px;
}

#Tipos p {
    font-size: 22px;
    text-align: justify;
    margin-bottom: 10px;
    margin-left: 50px;
    margin-right: 50px;
}

#Caracteristicas {
    background-color: #F3F3CC;
    width: 100%;
    height: 400px;
}

#Caracteristicas img {
    display: flex;
    float: left;
    height: 300px;
    width: 350px;
    padding: 30px;
    margin-top: 50px;
    margin-right: 20px;
    margin-left: 20px;
    border-radius: 20%;
}

#Caracteristicas h2 {
    font-size: 35px;
    padding: 40px;
}

#Caracteristicas p {
    font-size: 22px;
    text-align: justify;
    margin-left: 50px;
    margin-right: 50px;
}

#Contacto {
    background-color: #4CC8E8;
    height: 400px;
    width: 100%;
    text-align: center;
    padding: 50px;
    background-size: 100% 100%;
}

#transparente h2{
    font-size: 35px;
}

.input{
    width: 300px;
    height: 30px;
    margin-bottom: 20px;
    margin-top: 20px;
    border-radius: 5px;
    color:#000000;
    float: right;
    margin-right: 20px;
}

.textarea{
    width: 300px;
    color:#000000;
    float: none;
    margin-bottom: 20px;
    margin-top: 20px;
    border-radius: 5px;
    height: 170px;
}

.button{
    width: 300px;
    color:#000000;
    float: none;
}

#pie {
    background-color: #71beaf;
    text-align: center;
    height: 70px;
    width: 100%;
    font-size: 18px;
    float: none;
    color: #fff;
}
